.creditContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px; /* 요소 간의 간격 */
  padding: 16px;
}

.creditContainer div {
  position: relative;
  margin-top: 5px;
}

.creditContainer img {
  border-radius: 15px;
  transition: filter 0.3s; /* 부드러운 전환 */
  max-width: 70%;
}

.creditContainer p {
  opacity: 0;
  transition: opacity 0.3s;

  position: absolute;
  top: 82%;
  left: 5%;
}

.creditContainer img:hover {
  filter: brightness(0.3); /* 밝기를 90%로 줄여서 어둡게 */
}

.creditContainer img:hover + p {
  opacity: 1;
}
